* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
     background: rgba(0, 0, 0, .4);
}

main {
    width: 70vw;
    margin: 50px auto;
    padding: 50px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

a {
    display: block;
    margin: 10px 0;
    transition: .5s ease-out;
    color: #000;
    font-family: 'Lemonada', cursive;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: rgb(3, 198, 198);
}

a:active {
    color: rgb(198, 1, 100);
}

/* square section */

.wrapper-block {
    width: 304px;
    height: 304px;
    border: 2px solid #000;
}

.square {
    display: block;
    width: 100px;
    height: 100px;
    clear: both;
}

.color-blue {
    float: left;
    background: blue;
}

.color-red {
    margin: auto;
    background: red;
}

.color-yellow {
    float: right;
    background: yellow;
}

/* links section */
.links-hw {
    padding: 50px 0;
}

/* page markup section */

.page-markup .global-wrapper {
    width: 100%;
    max-width: 485px;
    margin: 50px 0;
    padding: 10px;
    border: 1px solid #000;
}

.page-markup header {
    height: 60px;
    border: 1px solid #000;
}

.wrapper-content {
    width: 100%;
    margin: 10px 0;
    padding: 10px 5px;
    float: left;
    border: 1px solid #000;
}

.page-markup .main {
    width: 100%;
    max-width: 255px;
    height: 290px;
    float: left;
    border: 1px solid #000;
}

.page-markup .sidebar {
    width: 100%;
    max-width: 165px;
    height: 290px;
    float: right;
    border: 1px solid #000;
}

.page-markup footer {
    height: 100px;
    clear: left;
    border: 1px solid #000;
}
