* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background: url("../img/fullhsbg.jpg") no-repeat;
	-webkit-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
	    object-fit: cover;
	    box-sizing: border-box;   
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 	
}

.wrapper {
	display: flex;
	flex-flow: column wrap;
	/* max-width: 1920px; */
	width: 100%;
}

@font-face {
    font-family:"Helvetica Neue";
    src: url("http://www.freefontsdownload.net/data/502/h/helveticaneue/HelveticaNeue.ttf"),
    url("../fonts/HelveticaNeue-Regular/HelveticaNeue.eot"),
    url("../fonts/HelveticaNeue-Regular/HelveticaNeue.woff"),
    url("../fonts/HelveticaNeue-Regular/HelveticaNeue.ttf");
}

@font-face {
	 font-family:"Facebook Letters";
	 src: url('../fonts/facebook-letter-faces.otf');
}

a {
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.2px;
}

/* header */
.header {
	display: flex;	
}

nav {
	display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    width: 100vw;
	background: url("../img/noise.png") #085A9F;
}

nav ul,
nav div {
	display: flex;
}

nav ul {
	justify-content: space-around;
	-webkit-align-self: stretch;
	        align-self: stretch;
}

nav li,
.entrance_reg {
	padding: 9px 1px 4px;
}

nav ul a {
	color: rgb(96, 181, 237);
	padding: 16px 11px 11px;
}

html,
a,
nav ul a:hover,
input,
div,
.button_create  {
	color: rgb(255, 255, 255);
}

nav li:hover,
nav icon:hover {
	background: rgb(78, 171, 218);
}

.entrance {
	padding-left: 3px;
}

.icon {
	border-left: 1px solid rgb(86, 162, 220);
	padding-left: 14px;
}

.entrance_reg a {
	margin: 0 5px;
	border-bottom: 2px solid transparent;
}

.icon::before {
	content: "";
	background: url("../img/icon_flag.png") no-repeat;
	vertical-align: bottom;
	width: 21px;
	height: 23px;
	padding: 0 9px 0 2px;
}

.login:hover,
.login:active {
	background: rgba(147, 206, 222 ,1);
	background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(48,125,198,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(48,125,198,1)));
	background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(48,125,198,1) 100%);
	background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(48,125,198,1) 100%);
	background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(48,125,198,1) 100%);
	background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(48,125,198,1) 100%);
	}

.login {
	box-sizing: border-box; 
	border-bottom: 2px solid transparent;
}

.login a:hover {
	border-bottom: 2px solid rgb(255, 255, 255);
}
/* header */
/* form */
.signin_form {
	margin: 213px auto;
	padding: 10px 0;
	max-width: 560px;
	width: 100%;
	background-color: rgba(55, 60, 45, 0.5);
	display: flex; 
	flex-direction: column;
	-webkit-align-items: center;
	        align-items: center;
}

label {
	font-size: 14px;
	letter-spacing: 0.2px;
}

.checkbox {
	margin: 13px 3px 21px;
}

form {
	max-width: 280px;
	padding: 35px 0 11px;
}

.alternative,
.button_agreement {
	text-align: center;
}

.signin_form .alternative {
	margin: 30px 0 13px;
    padding: 0 5px;
    color: #999;
}

.alternative::before,
.alternative::after {
	display: inline-block;
	content: "";
	box-shadow: 0 -1px 0 #999;
	border-top: 1px solid #000;
	padding-top: 5px;
	max-width: 118px;
	width: 100%;
	height: 1px;
}

.form_header {
	border-bottom: 2px solid rgb(204, 208, 194);
	padding: 6px 0 12px;
	width: 100%;
    letter-spacing: -0.5px;
}

.form_header h1 {
	text-align: center;
	padding: 5px 0;
	font-size: 24px;
}

.btn_fb {
	display: flex;
	border: 1px solid transparent;
	border-radius: 5px;
	background: rgb(125,185,232); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(32,124,202,1) 0%, rgba(59,86,153,1) 4%, rgba(41,137,216,1) 4%, rgba(32,124,202,1) 17%, rgba(45,66,119,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(32,124,202,1) 0%,rgba(59,86,153,1) 4%,rgba(41,137,216,1) 4%,rgba(32,124,202,1) 17%,rgba(45,66,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(125,185,232,1) 0%,rgba(32,124,202,1) 0%,rgba(59,86,153,1) 4%,rgba(41,137,216,1) 4%,rgba(32,124,202,1) 17%,rgba(45,66,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	font-weight: 700;
	width: 100%;
	align-items: center;
	    font-size: 16px;
    letter-spacing: -0.4px;
}

.btn_fb .font_w {
	font-weight: 400;
	padding: 0 4px 0 7px;
}

.fb_letter {
	font-family:"Facebook Letters";
	border-right: 1px solid #1e3b73;
	box-shadow: 1px 0 0 #4b68ac;
    padding: 3px 12px 0 9px;
    font-size: 24px;
    font-weight: 100;
}

.btn_fb_login {
	display: flex;
	margin: 0 20px 0 32px;
}

.fb_bracket {
    font-size: 23px;
}

.btn_fb:hover {
	background: linear-gradient(to bottom,  rgba(175,195,232, .9) 0%,rgba(59,119,202,1) 0%,rgba(59,86,153,1) 4%,rgba(41,137,216,1) 4%,rgba(32,124,202,1) 17%,rgba(45,66,119, .7) 100%);
}

button:hover {
	cursor: pointer;
}

input {
	-webkit-transition: background 0.8s;
	   -moz-transition: background 0.8s;
	    -ms-transition: background 0.8s;
	     -o-transition: background 0.8s;
	        transition: background 0.8s;
}

input:hover {
	background: rgb(27, 82, 136);
	color: rgb(255, 255, 255);
}

.registration_input {
	max-width: 241px;
	width: 100%;
	background: rgb(15, 15, 15);
	border: 1px solid transparent;
	margin: 14px 0 5px;
    padding: 9px 17px;
}

input::-webkit-input-placeholder {color: rgb(255, 255, 255)}
input::-moz-placeholder          {color: rgb(255, 255, 255)}/* Firefox 19+ */
input:-moz-placeholder           {color: rgb(255, 255, 255)}/* Firefox 18- */
input:-ms-input-placeholder      {color: rgb(255, 255, 255)}
input::-webkit-input-placeholder       {text-indent: 0;   transition: text-indent 2.1s ease;}
input::-moz-placeholder                {text-indent: 0;   transition: text-indent 2.1s ease;}
input:-moz-placeholder                 {text-indent: 0;   transition: text-indent 2.1s ease;}
input:-ms-input-placeholder            {text-indent: 0;   transition: text-indent 2.1s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 2.1s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 2.1s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 2.1s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 2.1s ease;}

.button_create {
	display: flex;
	margin: 0 auto 9px;
	background: linear-gradient(to bottom, rgba(147,206,222, .8) 0%, rgba(117,189,209,1) 41%, rgba(48,125,198,1) 100%);
	border: 1px solid transparent;
	border-radius: 5px;
    padding: 9px 16px 12px;
    min-width: 127px;
    font-size: 14px;
}

.button_create:hover {
	background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(48,125,198, .6) 100%);
}

.button_agreement {
	font-size: 11px;
}

.button_agreement p {
	padding-bottom: 3px;
}

/* form */
@media (max-width: 850px) {
	 a,
	 div,
	 p {
		font-size: 18px;
	}

	nav {
		flex-flow: column wrap;
		-webkit-align-content: center;
		        align-content: center;
	}

	.entrance {
		-webkit-justify-content: center;
		        justify-content: center;
	}

	.icon {
		border-left: 1px solid transparent;
	}

	.alternative::before, 
	.alternative::after {
		display: none;
	}

	.registration_input {
		font-size: 16px;
	}

	.btn_fb a {
		font-size: 13px;	
	}

	.button_create {
		max-width: none;	
    	padding: 12px 44px 11px;
	}
}

@media (max-width: 710px) {
	.btn_fb {
        padding: 4px 4px 0 0;
	}
}

@media (max-width: 490px) {
	header ul,
	.entrance {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    -webkit-align-items: center;
	            align-items: center;
	}
	
	header ul a,
	.entrance a,
	.entrance div
	 {
		font-size: 25px;
	}

	.registration_input {
		font-size: 20px;
	}

	.btn_fb::after {
		margin: 14px 3px 1px 4px;
	}
}

