
/* first task */
 * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
   background: rgba(130, 141, 183, .2);
}

main {
    width: 80%;
    margin: 25px auto;
    padding: 30px;
    background: rgba(255, 255, 255, .3);
    border-radius: 10px;
}

.task1 p {
    margin: 20px 0;
    padding: 5px;
}

.task1 p:first-of-type { 
    transition: .5s ease-out;
    background: rgb(15, 170, 69);
}

.task1 p:first-of-type:hover {
    background: rgb(255, 242, 0);
}

.task1 p:first-of-type:active {
    background: rgb(255, 12, 0);
}

.task1 p:nth-of-type(2) {
    transition: .3s ease-out;
    background: rgb(130, 141, 183); 
}

.task1 p:nth-of-type(2):hover {
    background: rgb(124, 93, 33);
}

.task1 p:nth-of-type(2):active {
    background: rgb(226, 152, 13);
}

/* second task */
input {
    border: 1px solid rgb(116, 124, 117); 
    padding: 5px 10px;
}

input[type=text]:focus {
    border: 1px solid rgb(29, 140, 44);
    outline: 1px solid rgb(29, 140, 44);
}


/* third task */

.task3 p {
    position: relative;
    padding-left: 15px;
    margin: 15px 0;
}

.task3 p:nth-child(even) {
    color: rgb(116, 124, 117);
}

.task3 p:first-letter {
    color: rgb(242, 73, 7);
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}

.task3 p::after {
    position: absolute;
    margin-right: 5px;
    content: '*';
}

.task3 p::before {
    position: absolute;
    top: 10px;
    left: 0;
    content: ' \2602';
}

/* task 7 */
.rectangle {
    position: relative;
    width: 50px;
    height: 26px;
    margin: 20px;
    background: #000;
}

.rectangle::before {
    position: absolute;
    top: 3px;
    left: -15px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #000;
    border-bottom: 10px solid transparent;
    content: "";
}
