
/* first task */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ancor to the second part of 6-th HW HTML */
.next-task a {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 10px;
    width: 100px;
    height: 100px;
    padding: 20px;
    color: #fff;
    background: #008000;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    -webkit-animation: 10s changebackground none infinite;
    -moz-animation: 10s changebackground none infinite;
    -o-animation: 10s changebackground none infinite;
    animation: 10s changebackground none infinite;
}

.next-task a::after {
    position: absolute;
    top: 40px;
    right: -9px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #008000;
    content: '';
    animation: 10s changebackgroundtriangle none infinite;
}

@keyframes changebackground {
    0%, 100% {
        background: rgb(32, 141, 160);
    }

    25% {
        background: rgb(52, 138, 153);
    }

    40% {
        background: rgb(8, 178, 121);
    }

    60% {
        background: rgb(197, 226, 217);
    }

    80% {
        background: rgb(211, 179, 208);
    }

    95% {
        background: rgb(209, 156, 204);
    }
}

@keyframes changebackgroundtriangle {
    0%, 100% {
        border-left: 10px solid rgb(32, 141, 160);
    }

    25% {
        border-left: 10px solid rgb(52, 138, 153);
    }

    40% {
        border-left: 10px solid rgb(8, 178, 121);
    }

    60% {
        border-left: 10px solid rgb(197, 226, 217);
    }


    80% {
        border-left: 10px solid rgb(211, 179, 208);
    }


    95% {
        border-left: 10px solid rgb(209, 156, 204);
    }
}

/* ancor to the second part of 6-th HW HTML end */
body {
    background: rgba(130, 141, 183, .2);
}

main {
    width: 80%;
    margin: 25px auto;
    padding: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .3);
}

.task1 p {
    margin: 0 0 20px;
    padding: 5px;
}

.task1 p:first-of-type {
    transition: background-color .5s ease-out;
    background: rgb(15, 170, 69);
}

.task1 p:first-of-type:hover {
    background-color: rgb(255, 242, 0);
}

.task1 p:first-of-type:active {
    background-color: rgb(255, 12, 0);
}

.task1 p:nth-of-type(2) {
    transition: background-color .3s ease-out;
    background-color: rgb(130, 141, 183);
}

.task1 p:nth-of-type(2):hover {
    background-color: rgb(124, 93, 33);
}

.task1 p:nth-of-type(2):active {
    background-color: rgb(226, 152, 13);
}

/* second task */
input {
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid rgb(116, 124, 117);
}

input[type=text]:focus {
    border: 1px solid rgb(29, 140, 44);
    outline: 1px solid rgb(29, 140, 44);
}

/* third task */

.task3 p {
    position: relative;
    margin: 15px 0;
    padding-left: 15px;
}

.task3 p:nth-child(even) {
    color: rgb(116, 124, 117);
}

.task3 p:first-letter {
    color: rgb(242, 73, 7);
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}

.task3 p::after {
    position: absolute;
    margin-right: 5px;
    content: '*';
}

.task3 p::before {
    position: absolute;
    top: 10px;
    left: 0;
    content: ' \2602';
}

/* task 7 */
.rectangle {
    position: relative;
    width: 50px;
    height: 26px;
    margin: 20px;
    background: rgb(0, 0, 0);
}

.rectangle::before {
    position: absolute;
    top: 3px;
    left: -15px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid rgb(0, 0, 0);
    border-bottom: 10px solid transparent;
    content: '';
}
