* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


table {
    margin: 30px auto;
}

td {
    padding: 3px 5px;
    text-align: center;
    vertical-align: middle;
}

.table-first table {
    margin: 30px auto;
    border: 1px solid #000;
}

.table-first td {
    padding: 3px 5px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
}

.table-first tr:nth-of-type(n+3) td:nth-of-type(1) {
    font-weight: 700;
    text-align: left;
}

.table-first tr:nth-of-type(n+3) td:nth-of-type(1),
.table-first tr:nth-of-type(1) {
    font-weight: 700;
}

.table-second {
    width: 100%;
    max-width: 700px;
    background: rgb(241, 237, 245);
    padding: 5px;
}

.table-second tr {
    margin: 10px;
}

.table-second td,
.table-second th {
    padding: 10px 5px;
}

.table-second tr:first-of-type {
    border-bottom: 1px solid rgb(175, 170, 170);
    font-weight: 700;
}

.table-second__lined td,
.table-second__lined th {
    border-bottom: 1px solid rgb(175, 170, 170);
}

/* task 4 popup table */
#wrap {
    display: none;
    opacity: .8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, .725);
    z-index: 100;
    overflow: auto;
}

.close {
    position: absolute;
    top: -15px;
    right: -19px;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    background: #000;
}

.close svg {
    padding-top: 16%;
    padding-left: 3%;
}

.close svg path {
    fill: white;
}

#popup-tem {
    display: none;
    position: fixed;
    top: 10%;
    right: 0;
    left: 30%;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: rgb(220, 220, 220);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 14px 1px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 1px 14px 1px rgba(0, 0, 0, .75);
    box-shadow: 0 1px 14px 1px rgba(0, 0, 0, .75);
    z-index: 200;
}

.popup-table {
    max-width: 580px;
    width: 100%;
}

.popup-table * {
    text-align: left;
}

.popup-table tr {
    border-bottom: 1px solid rgb(175, 170, 170);
}

.popup-table th,
.popup-table td {
    padding: 2px 5px 2px 2px;
}

.popup-table td:first-of-type {
    font-weight: 900;
    color: rgb(210, 0, 0);
}

.calculation-block {
    float: left;
}

.calc-item {
    display: inline-block;
    background: rgb(221, 57, 28);
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-transition: .2s ease-out;
       -moz-transition: .2s ease-out;
        -ms-transition: .2s ease-out;
         -o-transition: .2s ease-out;
            transition: .2s ease-out;
    margin: 10px 3px;
}

.calc-item:hover {
    background: rgb(210, 0, 0);
}

.calc-item__del {
    background: rgb(209, 98, 79);
}
.buy-info {
    text-align: right;
}

.buy-info__nodicsount {
    color: grey;
    margin: 10px 0;
}

.basket {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
    transition: .2s ease-in-out;
    color: rgb(210, 0, 0);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
}

.basket:hover {
    transform: scale(1.009);
    font-weight: 700;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

.basket::after {
    left: 0;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 500;
    content: '\2192';
}

.btn-popup {
    display: block;
    margin: 50px auto;
    padding: 10px 15px;
    background: rgba(210, 0, 0, .5);
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 7px;
    outline: none;
    transition: .3s ease-in-out;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, .35);
}

.btn-popup:hover {
    box-shadow: 0 1px 16px 1px rgba(0, 0, 0, .75);
    -webkit-transform: scale(1.005);
       -moz-transform: scale(1.005);
        -ms-transform: scale(1.005);
         -o-transform: scale(1.005);
            transform: scale(1.005);
    transition: .3s ease-in-out;
}

.btn-popup:active {
    background: rgba(210, 0, 0, .9);
}
