/* Icons from directory "" */
.icon-music-note-black-symbol,.icon-music-note-black-symbol\:regular{background-image:url('icons/music-note-black-symbol.png');background-repeat:no-repeat}
.icon-music-note-black-symbol-dims{width:300px;height:300px}
.icon-spanner-tool,.icon-spanner-tool\:regular{background-image:url('icons/spanner-tool.png');background-repeat:no-repeat}
.icon-spanner-tool-dims{width:300px;height:300px}
.icon-speech-bubble,.icon-speech-bubble\:regular{background-image:url('icons/speech-bubble.png');background-repeat:no-repeat}
.icon-speech-bubble-dims{width:300px;height:300px}