.product {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	padding: 50px 20px;
	
}

.product-item {
	float: left;
	width: 291px;
    height: 506px;
    padding: 10px 42px;
	border: 2px solid #5a5a5a;
	overflow: hidden;
	margin: 20px;
}

.product-item h3 {
	font-family: Tahoma;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #242424;
}

.product-pic img {
	padding: 20px 20px 0;
}

.product-installment {
	display: inline-block;
	color: #FFF;
	box-shadow: -3px 3px 0 #9c9c9c;
	background-color: #8bc144;
	padding: 3px 43px;
	font-family: Tahoma;
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 20px;
	margin-left: -42px;
}

.product-price {
	font-family: Tahoma;
	font-size: 31px;
	line-height: 26px;
	margin-bottom: 15px;
	text-align: center;
	font-weight: 500;
}

.product-buy {
	display: inline-block;
	text-shadow: -1px 1px 0 #791c16;
	box-shadow: -3px 3px 0 #791c16;
	color: #ffffff;
	font-family: Tahoma;
	font-size: 28px;
	font-weight: bold;
	line-height: 26px;
	background: #ff0000;
	padding: 7px 60px 12px 76px;
	transition: .2s ease-out;
	cursor: pointer;
}

.product-buy:hover {
	background: rgba(255, 0, 0, .6);
	box-shadow: 1px 1px 0 #791c16;
}
